<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="alternate" type="application/rss+xml" title="Active Ideas RSS Feed" href="/ideas_rss.xml" />
  <link rel="alternate" type="application/rss+xml" title="Active Ideas Comment RSS Feed" href="/comments_rss.xml" />
  <title>Active Ideas<%= @page_title || '' %></title>
  <%= stylesheet_link_tag 'reset-fonts','main' %>
  <%= javascript_include_tag 'prototype','effects','application' %>
</head>
<body id="<%= params[:controller] %>">
  <div id="header">
    <div class="container">
      <h1 onclick="location.href='<%= root_path %>';"><span>Active Ideas</span> <img src="/images/home.png" /></h1>
      <ul>
        <li <%= 'class="current"' if current_page?(ideas_url) %>><%= link_to_unless_current 'All Ideas', ideas_url %></li>
        <li <%= 'class="current"' if current_page?(in_action_ideas_url) %>><%= link_to_unless_current 'In Action', in_action_ideas_url %></li>
        <li <%= 'class="current"' if current_page?(new_idea_url) %>><%= link_to_unless_current 'Add your idea', new_idea_url %></li>
      </ul>
    </div>
  </div>
  
  <div id="container">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    
    <%= yield %>
    
    <%= yield :side %>
  </div>
</body>
</html>